<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://getbootstrap.com/docs/5.3/assets/css/docs.css"
      rel="stylesheet"
    />
    <title>Bit.url</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="icon" type="image/png" href="/favicon_io/favicon.ico" />
  </head>
  <body class="p-3 m-0 border-0 bd-example m-0 border-0">
    <!-- Example Code -->

    <div class="container text-center">
      <h1><span class="text-primary">Bit.url</span> URL Shortener</h1>
    </div>

    <form action="/" method="POST">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label"
          >Enter URL to generate short url :</label
        >
        <input
          type="text"
          name="url"
          class="form-control"
          placeholder="https://example.com/"
        />
        <div id="emailHelp" class="form-text">Please give valid url only.</div>
      </div>

      <button type="submit" class="btn btn-primary">Generate</button>
    </form>

    <!-- End Example Code -->
  </body>
</html>
